body {
  background-color: #d8d0ed;
  font-family: sans-serif;
  margin: 5px;
}

button {
  background-color: #581072;
  color: white;
}

#ruby, #javascript, #python {
  display:none;
}

#javascript {
  background-color: red;
  border-style: outset;
  margin: 5px;
}

#ruby {
  /* background-color: #9b111e; */
  background-image: url("../img/ruby.png");
  background-size: cover;
  border-style: outset;;
  padding: 5px;
  margin: 5px;
  color: white;
}
#important {
  color: red;
}
/* h3 {
  font-family: sans-serif;
  color:
} */
