body {
  background-color: #d8d0ed;
  font-family: sans-serif;
  margin: 5px;
}

button {
  background-color: #581072;
  color: white;
}

#ruby, #javascript, #python {
  display:none;
}

#javascript {
  background-image: url("../img/yellow_stone.jpg");
  background-size: cover;
  border-style: outset;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

#ruby {
  background-image: url("../img/ruby.png");
  background-size: cover;
  font-weight: bold;
  border-style: outset;;
  padding: 5px;
  margin: 5px;
  color: white;
}

#python {
  background-image: url("../img/ice.jpg");
  border-style: outset;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  color: white;
}

#important {
  color: red;
}
